.navbar {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.card {
    margin-top: 15px;
    min-width: 300px;
}

.playerControl:focus, .playerControl:active {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.albumImage {
    padding-right: 5px;
}

.albumImage img {
    height: 3rem;
}

.trackInfo {
    padding-left: 5px;
    padding-right: 5px;
}

.bg-light, .card, .card-header, .list-group-item {
    transition-property: background-color;
    transition-duration: .5s;
}

body {
    transition-property: background-color;
    transition-duration: 1.5s;
}