@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vzahz0');
  src:  url('../fonts/icomoon.eot?vzahz0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vzahz0') format('truetype'),
    url('../fonts/icomoon.woff?vzahz0') format('woff'),
    url('../fonts/icomoon.svg?vzahz0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-forward:before {
  content: "\f04e";
}
